*This is the CSS page for our final template.*/
@charset "utf-8";
/* CSS Document */

body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    color: black; 
    font-size: 10pt; 
    font-family: "Trebuchet MS", sans-serif;
    background-color: #E2E2E2;
}

/* ---Section Dividers --------------------------------------------------------------*/
div.mainContainer{
    position: relative; 
    height: auto; 
    width: 68em;
    background-color: #FFFFFF;
    margin: 0 auto; 
    padding: 0;
}

div.header{
    padding: 0; 
    margin: 0;
}

div.leftSidebar{
    float: left;
    width: 22%; 
    height: 40em;
    margin: 0;
}

div.mainContent{
    margin-left: 25%;
}

div.footer{
    clear: both;
    padding-bottom: 0em; 
    margin: 0;
}

/* Hide from IE5-mac. Only IE-win sees this. \*/
   * html div.leftSidebar { margin-right: 5px; }
   * html div.mainContent {height: 1%; margin-left: 0;}
/* End hide from IE5/mac */
div.mainContainer{
    height: auto; 
    width: 68em;
    background-color: #FFFFFF;
    margin: 0 auto; 
    padding: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Georgia', serif
	margin-top: 0x;
}
#dek {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
#image {
	float: right;
}
img {
	margin-right: 5%;
	margin-left: 5%;
}
figcaption {
	color: darkgray;
	text-align: center;
}
p {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}
h4 {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
div#list {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
	border: 1px solid black;
	padding: 16px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}
h3 {
	font-size: 30px;
}
.footer p {
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

@media only screen and (max-width: 767px)
{
	p#with-element
    {
        display: block; 
        float: none;
    }
	#image {
		display: block; 
		float: none;
		margin-left: 10%;
    }
    div#list {
    	display: block;
    	float: none;
    	margin-left: 10%;
    	margin-right: 10%;
    	padding: 6px;
    }
}
